<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.weapp_SpringBoot.mapper.CollectionsMapper">

    <select id="ifUserCollectArticle" resultType="cn.edu.guet.weapp_SpringBoot.bean.Collections">
        select * from collections where open_id = #{open_id} and article_id = #{article_id}
    </select>

    <insert id="insertUserCollectArticle">
        insert into collections
        values(#{id},#{open_id},#{article_id})
    </insert>

    <delete id="deleteUserCollectArticle">
        delete from collections
        where open_id=#{open_id} and article_id=#{article_id}
    </delete>

    <select id="getAllArticleUserCollected" resultType="cn.edu.guet.weapp_SpringBoot.bean.Article">
        select * from article
        where id in(select article_id from collections where  open_id = #{value})
    </select>

</mapper>