<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.weapp_SpringBoot.mapper.DoctorMapper">
    <resultMap id="BaseResultMap" type="cn.edu.guet.weapp_SpringBoot.bean.Doctor">
        <id column="doctor_id" jdbcType="VARCHAR" property="doctorId"></id>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"></result>
        <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId"></result>
        <result column="doctor_name" jdbcType="VARCHAR" property="doctorName"></result>
        <result column="position" jdbcType="VARCHAR" property="position"></result>
        <result column="skill" jdbcType="VARCHAR" property="skill"></result>
        <result column="seeing" jdbcType="BIGINT" property="seeing"></result>
        <association property="doctor_hospital" javaType="doctor_Hospital">
            <result column="hospital_name" property="hospital_name"></result>
        </association>
    </resultMap>


    <insert id="insertMsg" parameterType="cn.edu.guet.weapp_SpringBoot.bean.Doctor">
        Insert into doctor
        VALUES (#{doctor.doctorId}, #{doctor.hospitalId}, #{doctor.avatar}, #{doctor.doctorName}, #{doctor.position},
                #{doctor.skill}, #{doctor.seeing})
    </insert>

    <select id="getDoctorMsg" resultMap="BaseResultMap">
        SELECT *
        FROM doctor d,
             hospital h
        WHERE d.hospital_id = h.hospital_id
    </select>

    <delete id="deleteDoctor" parameterType="string">
        DELETE
        FROM doctor
        WHERE doctor_id = #{ID}
    </delete>

    <update id="updateDoctor" parameterType="cn.edu.guet.weapp_SpringBoot.bean.Doctor_Update">
        UPDATE doctor
        SET hospital_id=(
            SELECT hospital_id
            FROM hospital
            WHERE hospital_name=#{updateForm.hospitalId}
        ),doctor_id=#{updateForm.doctorId},avatar=#{updateForm.avatar},doctor_name=#{updateForm.doctorName},position=#{updateForm.position},skill=#{updateForm.skill}
        WHERE doctor_id=#{updateForm.selectId}
    </update>
</mapper>